.contacts-container {
  padding-left: 5%;
  text-align: left;
  justify-content: center;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;

  span {
    display: flex;
    align-items: center;
  }
}

.cv-download {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: x-large;

  p {
    margin-bottom: 0;
    font-size: larger;
  }
}

@media screen {
  @media (max-width: 768px) {
    .contacts-container {
      display: block;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}